.scrollWatcher {
  height: 3px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #9CA3AF;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scrollWatcher linear;
  animation-timeline: scroll();
}

@keyframes scrollWatcher {
  to {
    scale: 1 1;
  }
}
